/.cproject
/.project
/.settings/
/*.o
/*.exe
Icon
.DS_Store
.com.apple.timemachine.supported
*.sw?
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
xcuserdata/
*.orig

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
/bin/
cmake_install.cmake

/proj.linux/bin
/proj.linux/bin/*
